{% load static %}

<!DOCTYPE html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    <form id="upload-form" enctype="multipart/form-data" onsubmit="handleSubmit(event)">
        <input type="file" name="file" required />
        <button type="submit">Upload Video</button>
    </form>
    <ul id="video-list"></ul>
    <video id="video-player" controls>
        Your browser does not support the video tag.
    </video>
</body>
</html>
